
* {
  font-family: 'poppins' !important;
}

body {
  height: auto !important;
}
.ant-table-row.ant-table-row-level-0{
  background-color: white;
  text-align: center;
}
.ant-table-thead>tr>th {
  font-weight: bold !important;
  text-align: center !important;
}
.Light {
  background-color: #F5FBFF;
  border-radius: 4px;
  border: 1px solid #CBE3F3
}
.bgBlue {
  background-color: #0F74AF !important;
  color: white !important;
}